<html>
    <head>
        <!--Include Ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <title>Senti24 Main Page</title>
    </head>
    <body>
        <h1>Welcome to the Senti24 Main Page!</h1>
        <h2>Heres a plot</h2>
        
        <!--Add visualization Button here-->
        <form action="/" method="post">
            Choose Plot to Visualize:
            <button name="subject" type="submit" value="lineplot">Line Plot</button>
            <button name="subject" type="submit" value="barplot">Bar Plot</button>
        </form>
        
        <img src="/plot.png" alt="Visualized results">
    </body>
</html>