<html>
    <head>
        <title>Senti24</title>
    </head>
    <body>
        <h1>Welcome to Senti24</h1>
        <h2>Before accessing the main application, please enter the following settings:</h2>
        <form action="/settings" method="POST">
            <!--Inputs for the required paths-->
            <label for="jar_path">Absolute path to SentiStrength.jar</label><br>
            <input type="text" id="jar_path" name="jar_path" value="{{ jar }}"><br>

            <div style="display: {{ display_jar }};">
                <h3>Could not find SentiStrength.jar, make sure that the given path is correct</h3>
            </div>

            <label for="data_path">Absolute path to SentiStrength Finnish Data</label><br>
            <input type="text" id="data_path" name="data_path" value="{{ data }}"><br>

            <div style="display: {{ display_data }};">
                <h3>Could find SentiStrengthFi/, make sure that the given path is correct</h3>
            </div>

            <label for="db_path">Absolute path to the Database</label><br>
            <input type="text" id="db_path" name="db_path" value="{{ db }}"><br>

            <div style="display: {{ display_db }};">
                <h3>Could not load database, make sure that the given path is correct</h3>
            </div>

            <!--Button to update the settings with-->
            <h4>Note: Updating the settings takes some time, as the database is loaded into memory</h4>
            <input name="update" type="submit" value="Update Settings">
        </form>
    </body>
</html>