<html>
    <head>
        <title>Senti24</title>
    </head>
    <body>
        <h1>Welcome to Senti24</h1>
        <h2>Before accessing the main application, please enter the following settings:</h2>
        <form action="/settings" method="POST">
            <!--Inputs for the required paths-->
            <label for="jar_path">Absolute path to SentiStrength.jar</label><br>
            <input type="text" id="jar_path" name="jar_path" value="{{ jar }}" size="40"><br>

            <div style="display: {{ display_jar }};">
                <h3>Important Msg: Could not find SentiStrength.jar, make sure that the given path is correct</h3>
            </div>

            <label for="data_path">Absolute path to SentiStrength Finnish Data</label><br>
            <input type="text" id="data_path" name="data_path" value="{{ data }}" size="40"><br>

            <div style="display: {{ display_data }};">
                <h3>Important Msg: Could find SentiStrengthFI/, make sure that the given path is correct</h3>
            </div>

            <!--Button to update the settings with-->
            <input name="update" type="submit" value="Update Settings">
        </form>
    </body>
</html>